# OS
.DS_Store

# Env files
.env.xpct-tab
.env
server/.env
config.local.js

docs/_bak/

# Node
node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/serviceAccount.json


